In [21]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from keras.models import Sequential
from keras.layers import Dense, Dropout

from tensorflow import random

Using TensorFlow backend.

In [18]:
X = pd.read_csv('datasets/aps_failure_training_feats.csv')
y = pd.read_csv('datasets/aps_failure_training_target.csv')
X.head()

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,76698,0.0,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,33058,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,41040,0.0,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,12,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,318.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,60874,0.0,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

In [3]:
X.describe()

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
count,6.000000e+04,60000.000000,6.000000e+04,6.000000e+04,60000.000000,60000.000000,6.000000e+04,6.000000e+04,6.000000e+04,6.000000e+04,...,6.000000e+04,6.000000e+04,6.000000e+04,6.000000e+04,6.000000e+04,6.000000e+04,6.000000e+04,6.000000e+04,60000.000000,60000.000000
mean,5.933650e+04,0.162500,3.362258e+08,1.434071e+05,6.535000,10.548200,2.191577e+02,9.648104e+02,8.509771e+03,8.760054e+04,...,4.405077e+05,2.087653e+05,4.407495e+05,3.895406e+05,3.293335e+05,3.423990e+05,1.371785e+05,8.295099e+03,0.086467,0.203100
std,1.454301e+05,1.687318,7.767625e+08,3.504525e+07,158.147893,205.387115,2.036364e+04,3.400891e+04,1.494818e+05,7.575171e+05,...,1.150015e+06,5.407282e+05,1.162708e+06,1.115528e+06,1.063741e+06,1.718752e+06,4.472274e+05,4.721249e+04,4.268570,8.628043
min,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,8.340000e+02,0.000000,8.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.662000e+03,1.024000e+03,2.288000e+03,2.897000e+03,3.960000e+02,8.800000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,3.077600e+04,0.000000,1.200000e+02,4.200000e+01,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.280220e+05,1.088190e+05,2.153240e+05,1.838280e+05,8.491400e+04,3.840600e+04,3.276000e+03,0.000000e+00,0.000000,0.000000
75%,4.866800e+04,0.000000,8.480000e+02,2.920000e+02,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,4.350315e+05,2.164440e+05,4.624655e+05,4.003010e+05,2.725220e+05,1.663465e+05,1.367255e+05,1.934000e+03,0.000000,0.000000
max,2.746564e+06,204.000000,2.130707e+09,8.584298e+09,21050.000000,20070.000000,3.376892e+06,4.109372e+06,1.055286e+07,6.340207e+07,...,7.793393e+07,3.775839e+07,9.715238e+07,5.743524e+07,3.160781e+07,1.195801e+08,1.926740e+07,3.810078e+06,482.000000,1146.000000

In [4]:
y.head()

   class
0      0
1      0
2      0
3      0
4      0

In [19]:
seed = 42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=seed)

In [20]:
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_train = pd.DataFrame(X_train, columns = X_test.columns)

X_test = sc.transform(X_test)
X_test = pd.DataFrame(X_test, columns = X_train.columns)

In [22]:
np.random.seed(seed)
random.set_seed(seed)

model = Sequential()

In [23]:
model.add(Dense(64, activation='relu', input_dim=X_train.shape[1], kernel_initializer='uniform'))
model.add(Dropout(0.5))

model.add(Dense(32, activation='relu', kernel_initializer='uniform'))
model.add(Dropout(0.4))

model.add(Dense(16, activation='relu', kernel_initializer='uniform'))
model.add(Dropout(0.3))

model.add(Dense(8, activation='relu', kernel_initializer='uniform'))
model.add(Dropout(0.2))

model.add(Dense(4, activation='relu', kernel_initializer='uniform'))
model.add(Dropout(0.1))

model.add(Dense(1, activation='sigmoid', kernel_initializer='uniform'))

In [24]:
model.compile(optimizer='adam', metrics=['accuracy'], loss='binary_crossentropy')
model.fit(X_train, y_train, batch_size=20, epochs=100, verbose=0, validation_split=0.2, shuffle=False)

In [25]:
test_loss, test_acc = model.evaluate(X_test, y_test)
print('Loss no teste: ', test_loss)
print('AcurÃ¡cia no teste: ', test_acc)

12000/12000 [==============================] - 0s 20us/step
Loss no teste:  0.10071153336642492
AcurÃ¡cia no teste:  0.9894999861717224

In [27]:
print(y_test['class'].value_counts())
print('\n', y_test['class'].value_counts(normalize=True).loc[0])

0    11788
1      212
Name: class, dtype: int64

 0.9823333333333333